<html>
<head>
  <title>Project Kick</title>
  <%= favicon_link_tag 'favicon.png' %>


<%= render 'layouts/header' %>

<div id="container">
  <%= render 'layouts/nav' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</head>
</html>