<%= render 'layouts/header' %>
<%= render 'layouts/nav' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="container">
  <%= yield %>
</div>
<script type="text/javascript" charset="utf-8">
</script>
<%= render 'layouts/footer' %>